<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org ">
<title>Todo Application</title>

</head>
<body>
<p> WEB check 1...2...3...</p>
<div>
<form action="/" method="post">
<div>
<input type = "text" name = "title" placeholder="Add a new Task...." required>
</div>
<div>
<button type="submit"> Add task</button>
</div>
</form>
<th:block th:each="task : ${tasks}">
<div>
<span th:text = "${task.title}"> Task Title</span>
</div>
 </th:block>
</div>
</body>
</html>